/* << fonts */

@font-face {
			font-family: "RalewayRegular";
			src: url("../fonts/RalewayRegular/RalewayRegular.eot");
			src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
			url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


@font-face {
			font-family: "RalewayMedium";
			src: url("../fonts/RalewayMedium/RalewayMedium.eot");
			src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
			url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

/*@font-face {
			font-family: "RalewaySemiBold";
			src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
			src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
			url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
*/

@font-face {
			font-family: "RalewayLight";
			src: url("../fonts/RalewayLight/RalewayLight.eot");
			src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
			url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "RalewayThin";
			src: url("../fonts/RalewayThin/RalewayThin.eot");
			src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
			url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


/* fonts >>*/


/* << base styles */

body {
    
    background-color: #fcfcfc;
    font-family: 'Helvetica', sans-serif;
    color: #181310;
}

h1{
	font-size: 26px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
}

hr{
	border-top: 1px solid #181310;
	margin-top: 0;
	margin-bottom: 20px;
}

/* base styles >>*/

/* << header */

#navbar-fox{
	background-color: #fcfcfc;	
}

#navbar-fox a{
	color: #181310;
	font-family: "RalewayRegular", sans-serif;
	font-weight: bold;

}

#navbar-fox .logo{
	height: 100%;
}

#navbar-fox .icon-bar hr{
	border-color: #181310;
	border-width: 1px;
	margin-top: 3px;
}

#navbar-fox .head-menu li a{
	font-size: 18px;
} 

.navbar-brand-fox{
	height: 100px;
	padding: 0 !important;
	margin-right: 60px;
	margin-top: -20px;
	margin-left: 0 !important; 
}

.navbar-brand-fox:hover{
	background-color: #fcfcfc !important;
}

.navbar-toggle{
	border: 1px solid #181310;
	padding: 7px 7px;
	margin-right: 0;
	float: right;
}

.navbar-nav{
	margin: 0px -15px; 
}

#navbar-fox .navbar-nav-link{
	border-bottom: solid 4px #181310;
}

#navbar-fox .navbar-nav-link:active, #navbar-fox .active, #navbar-fox .navbar-nav-link:hover{
	background-color: #fcfcfc;
	border-bottom: solid 4px #E26404;
}

.logo-wide-img{
		height: 43px;
	}	

.social-full-size{
		text-align: right;
		padding-top: 30px;
		padding-right: 20px; 
		width: 768px;
		margin: 0 auto;
	}

.social-full-size .fast-contacts{
	display: inline-block;
}	

.social-device a, .social-full-size a{	
	margin-left: 15px;
}
.social-device img, .social-full-size img{
	width: 25px;	
}

.social-device{
 	position: relative;
	float: right;
	display: inline-block;
	margin-right: 20px;
	margin-top: 35px;
	display: none;
}

/* header >> */

/* << body */

.page-header{
	padding-bottom: 0 !important;
	margin: 20px 0;
}

.img-responsive{
	width: 100%;
}

.portfolio-item {
    margin-bottom: 25px;
    background-image: url("../img/default_service.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    min-height: 400px;
    display: block;
}

.portfolio-item .textbox{
 	padding: 10px 20px;
 	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
    top: 40%;
    vertical-align: middle;
}

.portfolio-item:hover .textbox{
 	background-color: rgba(236, 125, 49, 0.8);
}

.portfolio-item .textbox .service-name{
	color: #181310;
	font-weight: bold;
	font-size: 30px;
}

.portfolio-item:hover .textbox .service-name{
 	color: black;
}

/*.price-table-container .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FFDDC6;
}*/


/* body >>*/

/* << footer */

footer {
    margin: 50px 0;
}

.contact-map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 200px;
        overflow: hidden;
}

.contact-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

@media (min-width: 768px) {

	body{
		padding-top: 150px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	#fox-menu{
		padding-top: 20px;
    	padding-bottom: 20px;
	}

	.mobile-container{
		display: none;		
	}

	.fox-logo{
		display: block;
	}

	.container-main{
		padding-left: 150px;
		padding-right: 150px;
	}

	#navbar-fox .head-menu{
		text-align: center;
	}

	#navbar-fox .head-menu ul{
		margin: 0 auto;
    	width: 768px;
    	float: none;
	}

	.navbar-nav > li > .navbar-nav-link {
    	padding-top: 20px;
    	padding-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    	margin-right: 88px; 
	}

	.navbar-nav > li:last-child > .navbar-nav-link {
		margin-right: 0; 
	}

	.portfolio-item {
    	min-height: 300px;
	}

}

 
@media (max-width: 767px){
	body{
		padding-top: 150px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	.social-device {
    	display: inline-block;
	}

	.mobile-container{
		display: block;		
		padding-top: 18px;
		padding-bottom: 20px;
    	border-bottom: 1px solid;
	}

	.social-full-size, .fox-logo{
		display: none !important;
	}

	#navbar-fox .head-menu li a{
		font-size: 14px;
	} 

	#navbar-fox .navbar-nav-link{
		border-right: solid 4px #181310;
		border-bottom: none;
	}

	#navbar-fox .navbar-nav-link:active, #navbar-fox .active, #navbar-fox .navbar-nav-link:hover{
		background-color: #fcfcfc;
		border-right: : solid 4px #E26404;
		border-bottom: none;
	}

	.portfolio-item {
    	min-height: 300px;
	}
}

@media (max-width: 400px){
	body{
		padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	h1{
		font-size: 24px;
	}

	hr{
		margin-bottom: 15px;
	}

	.page-header{
		margin: 15px 0;
	}

	.portfolio-item {
    	min-height: 200px;
	}

	.portfolio-item .textbox{
 		padding: 10px;
	}

	.portfolio-item .textbox .service-name{
		font-size: 24px;
	}

}