/* << fonts */

@font-face {
			font-family: "RalewayRegular";
			src: url("../fonts/RalewayRegular/RalewayRegular.eot");
			src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
			url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


@font-face {
			font-family: "RalewayMedium";
			src: url("../fonts/RalewayMedium/RalewayMedium.eot");
			src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
			url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


@font-face {
			font-family: "RalewayLight";
			src: url("../fonts/RalewayLight/RalewayLight.eot");
			src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
			url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "RalewayThin";
			src: url("../fonts/RalewayThin/RalewayThin.eot");
			src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
			url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


/* fonts >>*/


/* << base styles */

body {    
    background-color: #fcfcfc;
    font-family: 'Helvetica', sans-serif;
    color: #181310;
}

h1{
	font-size: 26px;
	font-family: 'Helvetica', sans-serif;
}

h1 a{
	color: #181310; 
}

h1 a:hover{
	color: #e26404; 
}

hr{
	border-top: 1px solid #181310;
	margin-top: 0;
	margin-bottom: 20px;
}

/* base styles >>*/

/* << header */

#navbar-fox{
	background-color: #fcfcfc;	
}

#navbar-fox a{
	color: #181310;
	font-family: "RalewayRegular", sans-serif;
	font-weight: bold;
}

#navbar-fox .logo{
	height: 100%;
}

#navbar-fox .icon-bar hr{
	border-color: #181310;
	border-width: 1px;
	margin-top: 3px;
}

#navbar-fox .head-menu li a{
	font-size: 18px;
} 

.navbar-brand-fox{
	height: 100px;
	padding: 0 !important;
	margin-right: 60px;
	margin-top: -20px;
	margin-left: -70px; 
}

.navbar-brand-fox:hover{
	background-color: #fcfcfc !important;
}

.navbar-toggle{
	border: 1px solid #181310;
	padding: 7px 7px;
	margin-right: 0;
	float: right;
}

.navbar-nav{
	margin: 0px -15px; 
}

#navbar-fox .navbar-nav-link{
	border-bottom: solid 4px #181310;
}

#navbar-fox .navbar-nav-link:active, #navbar-fox .active, #navbar-fox .navbar-nav-link:hover{
	background-color: #fcfcfc;
	border-bottom: solid 4px #E26404;
}

.logo-wide-img{
		height: 43px;
	}	

.social-full-size{
		text-align: right;
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px; 
		width: 937px;
		margin: 0 auto;
	}

.social-full-size .fast-contacts{
	display: inline-block;
}	

.social-full-size .a{	
	margin-left: 15px;
}
.social-full-size .socials{
	display: inline-block;
	width: 25px;
	height: 25px;	
}

.social-full-size .instagram{
	background-image: url("../img/social.png");
	background-position: 66% 0%;
}
.social-full-size .instagram:hover{
	background-position: 100% 0%;
}

.social-full-size .facebook{
	background-image: url("../img/social.png");
	background-position: 0% 0%;
}
.social-full-size .facebook:hover{
	background-position: 33% 0%;
}

.contact-link{
	font-family: "Helvetica", sans-serif !important;
	font-weight: normal !important;
}

.contact-link:hover{
	color: #e26404 !important;
}

/* header >> */

/* << body */

.page-header{
	padding-bottom: 0 !important;
	margin: 20px 0 15px 0;
	font-weight: normal;
}

.img-responsive{
	width: 100%;
}

.portfolio-item {
    margin-bottom: 25px;
    background-image: url("../img/default_service.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    min-height: 400px;
    display: block;
}

.portfolio-item .textbox{
 	padding: 10px 20px;
 	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
    top: 40%;
    vertical-align: middle;
}

.portfolio-item:hover{
	filter: grayscale(100%);
}

.portfolio-item:hover .textbox{
 	background-color: rgba(252, 252, 252, 0.95);
}

.portfolio-item .textbox .service-name{
	color: #181310;
	font-weight: bold;
	font-size: 30px;
}

.portfolio-item:hover .textbox .service-name{
 	color: black;
}

.carousel-inner a:hover, .carousel-inner a:visited{
	text-decoration: none;
}




/* body >>*/

/* << footer */

footer {
    margin: 30px 0;
}

.contact-map {
        position: relative;
        padding-bottom: 50%; 
        height: 200px;
        overflow: hidden;
}

.contact-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

@media (min-width: 768px) {

	body{
		padding-top: 180px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	#fox-menu{
		padding-top: 20px;
    	padding-bottom: 20px;
	}

	.mobile-container{
		display: none;		
	}

	.fox-logo{
		display: block;
	}

	.container-main{
		padding-left: 100px;
		padding-right: 100px;
	}

	#navbar-fox .head-menu{
		text-align: center;
	}

	#navbar-fox .head-menu ul{
		margin: 0 auto;
    	width: 900px;
    	float: none;
	}

	.navbar-nav > li > .navbar-nav-link {
    	padding-top: 20px;
    	padding-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    	margin-right: 157px; 
	}

	.navbar-nav > li:last-child > .navbar-nav-link {
		margin-right: 0; 
	}

	.portfolio-item {
    	min-height: 300px;
	}

	#myCarousel .mobile-slider-pic{
		display: none;
	}

	#myCarousel .slider-pic{
		display: block;
	}

	.test-banner{
		height: 270px;
		font-family: 'RalewayMedium';
		font-size: 48px;
		color: black;
		text-align: center;
		vertical-align: middle;
		padding: 30px;
	}

	.test-banner:hover{
		text-decoration: none;
	}	

}

 
@media (max-width: 767px){
	body{
		padding-top: 150px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	.social-device {
    	display: inline-block;
	}

	.mobile-container{
		display: block;		
		padding-top: 18px;
		padding-bottom: 20px;
    	border-bottom: 1px solid;
	}

	.social-full-size, .fox-logo{
		display: none !important;
	}

	#navbar-fox .head-menu li a{
		font-size: 14px;
	} 

	#navbar-fox .navbar-nav-link{
		border-right: solid 4px #181310;
		border-bottom: none;
	}

	#navbar-fox .navbar-nav-link:active, #navbar-fox .active, #navbar-fox .navbar-nav-link:hover{
		background-color: #fcfcfc;
		border-right: solid 4px #E26404;
		border-bottom: none;
		color: #E26404;
	}

	#myCarousel{
		height: 200px;
	}

	#myCarousel .mobile-slider-pic{
		display: block;
	}

	#myCarousel .slider-pic{
		display: none;
	}

	.portfolio-item {
    	min-height: 300px;
	}

	.test-banner{
		height: 200px;
		font-family: 'RalewayMedium';
		font-size: 32px;
		color: black;
		text-align: center;
		vertical-align: middle;
		padding: 25px;
	}

	.test-banner:hover{
		text-decoration: none;
	}
}

@media (max-width: 400px){
	body{
		padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	h1{
		font-size: 24px;
	}

	hr{
		margin-bottom: 15px;
	}

	.page-header{
		margin: 15px 0;
	}

	.portfolio-item {
    	min-height: 200px;
	}

	.portfolio-item .textbox{
 		padding: 10px;
	}

	.portfolio-item .textbox .service-name{
		font-size: 24px;
	}

}